* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}

.slider-container {
    width: 700px;
    height: 500px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position: relative;
}

.image-container {
    display: flex;
    
}


.icon {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 35px;
}

.next {
    right: 20px;
}

.prev {
    left: 20px;
}

.icon:hover {
    color: #555;
}